@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald&display=swap');

:root {
    --primary-color: #fed136;
    --primary-grey-light: #f7f7f7;
    --secondary-grey-light: #f9f9f9;
    --primary-grey-dark: #222;
    --secondary-grey-dark: #767676;

    --container-max-width: 96rem;
    --container-width: 75%;

    --title-primary-color: #394b50;
}


*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.container {
    width: var(--container-width);
    margin: 0 auto;
    max-width: var(--container-max-width);
}

.container-flex {
    max-width: var(--container-max-width);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width);
    flex: 1 1 0;
}

.section-title {
    padding-top: 8rem;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1rem;
}

.section-title-light {
    color: white;
}

.section-title-dark {
    color: var(--title-primary-color);
}

.section-subtitle {
    font-size: 1.8rem;
    color: var(--secondary-grey-dark);
    font-style: italic;
    padding-bottom: 3rem;
    text-align: center;
}

.section-subtitle-light {
    color: white;
}

.section-subtitle-dark {
    color: var(--title-primary-color);
}

.bg-grey {
    background-color: var(--primary-grey-light);
}

.bg-dark {
    background-color: var(--primary-grey-dark);
}

.btn {
    font-size: 2rem;
    padding: 2rem 3rem;
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 800px) {
    .section-title {
        padding-top: 5rem;
        font-size: 2.5rem;
        letter-spacing: 0;
    }

    .section-subtitle {
        font-size: 1.2rem;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 640px) {
    .section-title {
        font-size: 3rem;
        letter-spacing: 0;
    }

    .section-subtitle {
        font-size: 1.2rem;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .section-title {
        padding-top: 3rem;
        font-size: 1.5rem;
    }

        .section-subtitle {
        font-size: 1.1rem;
    }

}
